.title {
  color: #FFF;
  font-family: Inter;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  margin-top: 120px;
}

.inactive {
  opacity: 0;
  visibility: hidden;
}

.active {
  opacity: 1;
  visibility: visible;
}